body {
    background-color: #e2f4c7;
}

.score-board {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
}


.choice-img {
    background-color: rgb(180, 223, 132);
    border: none;
    outline: none;
    box-shadow: 5px 10px #46582b;
    border-radius: 10%;
    width: 12%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.choice-img:hover {
    transform: scale(1.1);
}

.result {
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-family:fantasy;
}

p{
    font-size: 1.2rem;
    font-family: cursive;
    text-align: center;
}

.btn-large {
    font-size: 2.5rem;
    padding: 0.75rem 1.5rem; 
    transition: box-shadow 0.3s, transform 0.3s;
}

.btn-large:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(0.95); 
}